.arthur {
  background-color: #03AE0C;
  color: #fff;
  padding: 8px 30px;
  border-radius: 3px;
  border: 0px;
  outline: 0px;
}
.odin-box {
  /*padding: 5px 20px;*/
  position: absolute;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: white;
  color: black;
  margin-left: 30px;
  width: 500px;
  height: 300px;
  min-height: 200px;
}

.odin-box-header {
  text-align: left;
  padding: 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.odin-box-header span {
  font-weight: bold;
  margin: 10px 20px;
}

.odin-box-header button {
  background-color: #f4f4f4;
  font-weight: bold;
  color: #aaa;
  outline: 0px;
  border: 0px;
  padding: 8px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.odin-box-header input {
  color: #666;
  padding: 8px;
  border: 0px;
  background-color: #f4f4f4;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.odin-box-header input:focus {
  color: #666;
  outline: 0px;
}